@import '~payload/scss';

.field-type.place {
  margin-bottom: 1.9230769231rem;
  position: relative;

  input {
    @include formInput
  }

  &.error input {
    background-color: var(--theme-error-200)
  }

  .rs__control {
    display: none !important;
  }
}